[Unit]
Description=OpenSSH server daemon
After=syslog.target network.target auditd.service

[Service]
# CLIP OS: Don't auto generate ssh key
#ExecStartPre=/usr/bin/ssh-keygen -A
ExecStart=/usr/sbin/sshd -D -e
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
